export X_API_KEY=
export BASE_URL=
export LANGFUSE_PUBLIC_KEY=test
export LANGFUSE_SECRET_KEY=test
export LANGFUSE_BASE_URL=http://100.89.168.1:9595
export LANGFUSE_TRACING_ENVIRONMENT=staging
export NEXTAUTH_URL=